@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --bg-blue: #1db9c3;
  --bg-orange: #ffb740;
  --bg-yellow: #ffd523;
  --bg-white: #fff;
  --bg-red: #ed8e7c;
  --bg-green: #39a6a3;
}
/* Design ScrollBar */
::-webkit-scrollbar {
  width: 12px;
}
/* ::-webkit-scrollbar:hover {
  width: 14px;
} */
::-webkit-scrollbar-track {
  background-color: var(--bg-blue);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-blue);
  border-radius: 10px;
  border: 2px solid var(--bg-green);
  box-shadow: 0 0 25px 0 black;
}
/* Akhir Design ScrollBar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header > img {
  position: relative;
  width: 100%;
  height: 100vh; /*  % */
  object-fit: cover;
  object-position: center;
}
header > section {
  z-index: 999;
  position: absolute;
  top: 2rem;
  width: 90%;
  height: 100%;
  margin: auto;
}
header > section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8rem;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li.active-C:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}
nav ul li:last-child {
  background-color: var(--bg-white);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  margin-top: -0.3rem;
}
nav ul li:last-child a {
  cursor: default;
  color: black;
  margin: auto;
}
.header-text {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  color: white;
  bottom: -10%;
  left: 7%;
}
.header-text img {
  width: 4%;
  animation: arrow 2s ease-in-out infinite alternate;
}
@keyframes arrow {
  0% {
    width: 4%;
  }
  50% {
    width: 2%;
  }
  100% {
    width: 4%;
  }
}
main {
  width: 100%;
  height: 100%;
}
main > section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.box-main-all {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin-top: -0.43rem; /*Space top */
}
.box-main-all .box-box {
  flex: 0 0 50%;
}
.box-box img {
  width: 100%;
}

/* .box-main-all img {
  max-width: 100%;
} */
.box-main-text {
  position: relative;
  padding: 5%;
  width: 100%;
}
.box-main-text h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: -2rem 0 2rem 0;
}
.box-main-text p:nth-child(3) {
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 4rem;
  border-bottom: 1px solid tomato;
  width: fit-content;
}
.box-main-text p:hover:nth-child(3) {
  position: relative;
  background-color: rgba(246, 237, 14, 1);
}
.box-main2 img {
  width: 100%;
}
.gambar-all {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 0 0 50%;
}
.gambar-all img {
  width: 100%;
}
.box-main-text3 {
  position: absolute;
  bottom: 15%;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.box-main-text3 h1 {
  margin-bottom: 2rem;
}

/* Testiomonial */
.container-testi {
  position: relative;
  width: 90%;
  height: 100%; /*change*/
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.container-testi .testi-text {
  position: absolute;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
}
.container-testi .testi-box1:hover,
.container-testi .testi-box2:hover,
.container-testi .testi-box3:hover {
  transition: 1s;
  box-shadow: 10px 10px 10px black;
}
.testi-box-all {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testi-box-all img {
  border-radius: 50%;
  margin-bottom: 4rem;
  box-shadow: 0 0 3px black;
}
.testi-box-all p:nth-child(2) {
  text-align: center;
  margin: 0 0 4rem 0;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 2rem;
}
.testi-box-all h5 {
  font-weight: bold;
  font-size: 1.2rem;
}
.testi-box-all p:last-child {
  opacity: 0.8;
}

.box-image4 {
  overflow: hidden;
  display: flex;
  height: 100%;
  margin-top: -1em;
}
.box-image44 {
  width: 25%;
  transform: scale(1.1);
}
.box-image44:hover {
  transition: transform 0.7s;
  transform: scale(1.3);
}
.box-image44 img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  margin-top: -1rem;
  width: 100%;
  height: 45vh;
  background-color: var(--bg-green);
}
footer > section {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
}
.box-footer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-footer > img {
  margin-bottom: 1.5rem;
  width: 10rem;
}
.box-footer-text {
  display: flex;
}
.box-footer-text p {
  margin: 1rem 1rem;
  cursor: default;
}
.box-footer-text p:hover,
.box-sosmed a:hover {
  color: #fff;
  filter: brightness(3);
}

.box-footer .box-sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-sosmed img {
  margin: 2rem 0.5rem;
  width: 1.5rem;
}
.box-footer-title {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  font-size: 0.9rem;
}
.box-footer-title a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}
